Repository WonderTix/WonderTix, pull requests merged in 2023-11, with the labels that each got.

#412 [TIC-102] Fixed ability to purchase multiple ticket types for a showing
  client/src/components/Ticketing/cart/Cart.tsx
  client/src/components/Ticketing/cart/CartItem.tsx
  client/src/components/Ticketing/cart/YourOrder.tsx
  client/src/components/Ticketing/checkout/CompleteOrderForm.tsx
  client/src/components/Ticketing/event/TicketPicker.tsx
  client/src/components/Ticketing/event/eventshowings.tsx
  client/src/components/Ticketing/mainpage/eventcard.tsx
  client/src/components/Ticketing/mainpage/hero.tsx
  client/src/components/Ticketing/ticketingmanager/showings/ShowingUpdated/EventShowingView.tsx
  client/src/components/Ticketing/ticketingmanager/ticketing/ticketingSlice.spec.ts
  client/src/components/Ticketing/ticketingmanager/ticketing/ticketingSlice.ts
  server/src/api/tickets/ticket.router.ts
  server/src/interfaces/CartItem.ts
  server/src/interfaces/TicketingState.ts
Labels: bug

#432 DEP 86 - Refactor 'add ticket'
  .gitignore
  client/e2e/EventsPage.spec.ts
  client/e2e/mainTest.spec.ts
  client/e2e/pages/EventsPage.ts
  client/e2e/pages/mainPage.ts
Labels: bug, E2E Playwright

#471 Dep 73 test purchase and cart functions
  client/e2e/mainTest.spec.ts
  client/e2e/pages/contactPage.ts
  client/e2e/pages/doorListPage.ts
  client/e2e/pages/mainPage.ts
  client/e2e/testData/ConstsPackage.ts
  client/src/components/CRM/Contacts/ContactOneResult.tsx
  client/src/components/CRM/Contacts/ContactResults.tsx
  client/src/components/CRM/Contacts/Contacts.tsx
  client/src/components/Ticketing/cart/Cart.tsx
  client/src/components/Ticketing/cart/CartItem.tsx
  client/src/components/Ticketing/ticketingmanager/DoorList/DoorList.tsx
Labels: E2E Playwright

#496 Dep 99 add UI d s to event templates
  client/e2e/EventsPage.spec.ts
  client/e2e/mainTest.spec.ts
  client/e2e/pages/mainPage.ts
  client/e2e/testData/ConstsPackage.ts
  client/package-lock.json
  client/package.json
Labels: E2E Playwright

#506 Dep 102 refactor tests to implement UUID
  client/e2e/EventsPage.spec.ts
  client/e2e/doorListTest.spec.ts
  client/e2e/pages/seasonsPage.ts
  client/e2e/seasonsPage.spec.ts
  client/e2e/testData/ConstsPackage.ts
Labels: E2E Playwright
