Repository WonderTix/WonderTix, pull requests merged in 2023-10, with the labels that each got.

#387 DEP-53: migrate from old GCP project
  client/Dockerfile.dev
  client/cloudbuild.yaml
  server/src/server.ts
Labels: deployment

#389 Tic 76: Front End for Admin Purchase and Admin Checkout
  client/e2e/dashboard.test.ts
  client/e2e/pages/dashboardPage.ts
  client/src/App.tsx
  client/src/components/Ticketing/cart/YourOrder.tsx
  client/src/components/Ticketing/checkout/CheckoutPage.tsx
  client/src/components/Ticketing/ticketingmanager/AdminPurchase/AdminCheckout.tsx
  client/src/components/Ticketing/ticketingmanager/AdminPurchase/AdminCheckoutmain.tsx
  client/src/components/Ticketing/ticketingmanager/AdminPurchase/AdminCompleteOrderForm.tsx
  client/src/components/Ticketing/ticketingmanager/AdminPurchase/AdminPurchase.tsx
  client/src/components/Ticketing/ticketingmanager/AdminPurchase/AdminPurchasemain.tsx
Labels: enhancement, main feature

#396 Dep 52 create door list pom
  .gitignore
  client/e2e/doorListTest.spec.ts
  client/e2e/mainTest.spec.ts
  client/e2e/pages/doorListPage.ts
  client/e2e/pages/mainPage.ts
  client/src/components/Ticketing/event/TicketPicker.tsx
  client/src/components/Ticketing/event/eventshowings.tsx
  client/src/components/Ticketing/ticketingmanager/Doorlistpage/doorlist.tsx
Labels: E2E Playwright

#405 [DEP-57] E2E tests after merge to main
  .github/workflows/E2E_deployment.yml
Labels: deployment

#407 Update E2E_tests.yml - Remove [on pr edit]
  .github/workflows/E2E_tests.yml
  client/e2e/example.spec.ts
Labels: deployment, E2E Playwright

#409 DEP-61: promote to `stg` environment
  client/Dockerfile.dev
  client/cloudbuild.yaml
  server/cloudbuild.yaml
  server/src/api/db.ts
  server/src/server.ts
Labels: deployment, promotion

#414 [DEP-78] change the URL for the test
  .github/workflows/E2E_deployment.yml
Labels: E2E Playwright

#415 [DEP-78] Hot fix for #414
  .github/workflows/E2E_deployment.yml
Labels: E2E Playwright

#419 DEP-82 added a new test file
  .github/workflows/E2E_request.yml
Labels: E2E Playwright

#403 Dep 51 showings test final
  client/e2e/EventsPage.spec.ts
  client/e2e/pages/EventsPage.ts
  client/e2e/testData/ConstsPackage.ts
  client/src/components/Ticketing/ticketingmanager/showings/ShowingUpdated/EventShowingView.tsx
Labels: E2E Playwright
